.view_cars,
.view_bikes {
    text-align: center;
}

.vehicle-table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.header-row {
    background-color: #3F72AF;
    text-align: center;
    color: white;
}

.data-rows {
    background-color: #9ca7ba;
    text-align: center;
}

.id-column {
    width: 10%;
}

.brand-column {
    width: 30%;
}

.model-column {
    width: 60%;
}

.vehicle-table th,
.vehicle-table td {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
}

#tables {
    border: 2px solid ;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-width: 2px;
    border-radius: 10px;
    background-color: rgba(219,226,239, 0.5);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    
}