{% extends 'base.html' %}
{% block body %}
<form method="POST" action="" id="form-border">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Login as manger</legend>
        <div class="form-group input-field">
            {{ form.password.label(class="form-control-label") }}<br>
            {{ form.password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn") }}
        </div>
    </fieldset>
</form>
{% endblock %}